.contact-section{       
    background-image: url(../Assets/BB-ContactUs-Desktop\ 1.png), linear-gradient(to left, rgba(13, 32, 0, 0), #001E30 55%);
    background-position: right, left;
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    text-align: left;
    justify-content: center;
    position: relative;
    height: fit-content;
    padding: 10% 0 10% 0 !important; 
}
.contact-section .container h2 {
    font-size: 60px;
    letter-spacing: -0.01em;
    line-height: 70px;
    font-weight: 500;
    color: #29638a;
    padding-bottom: 2rem;
}
.contact-section .container{
    padding: 6rem 0 0 4rem;
    
}

.contact-row {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-row .contact-item p{
    color: #fff ;
}

.contact-item h3 {
    width: 50%;
    font-size: 48px;
    letter-spacing: -0.01em;
    font-weight: 500;
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-section .btn {
    background-color: #243d25;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 15%;
    background-color: #0d2000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


