body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
  }
  
  .form-container {
    width: 25%;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    color: white;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group input::placeholder {
    color: #aaa;
  }
  
  .form-group .banner {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .form-group textarea {
    height: 100px; /* Adjust this to be three times the height of input fields */
  }
  
  .submit-btn {
    background-color: #AED18D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #98c577;
  }
  