.header-content {
  background-image: url(../Assets/BB-HEADER-GFX-Desktop.png), linear-gradient(to left, rgba(13, 32, 0, 0), #0D2000 55%);
  background-position: right, left;
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;
  text-align: left;
  justify-content: center;
  position: relative;
  height: fit-content;
  padding: 10% 0 10% 18%; 
}

  
  .header-content {
    /* position: relative;
    z-index: 2; */
    color: white; /* Si necesitas cambiar el color del texto */
  }
  .header-content p{
    width: 45%;
    padding-bottom: 1%;
  }
  .header-content h1{
    width: 40%;
    /* font-weight: 500; */
    font-size: 5vw;
    padding-bottom: 1%;
  }
  .header-content .btn{
      /* width: 100%; */
      /* position: relative; */
      border-radius: 6px;
      background-color: #aed18d;
      /* height: 60px; */
      /* display: flex; */
      flex-direction: row;
      align-items: center;
      justify-content: center;
      /* padding: 8px 16px; */
      box-sizing: border-box;
      text-align: center;
      font-size: 20px;
      color: #0d2000;
      font-family: 'DM Sans';
    }
  