/* Incomes.css */
.incomes-background {
  background: var(--Schemes-On-Primary-Container, #29638a);
  background-image: url(../Assets/incomes_onboarding.jpeg);
  mix-blend-mode: multiply;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.85;
}

.incomes-background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-left: 45%;
  padding-right: 2rem;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0rem;
  min-height: 80vh;
  min-width: 500px;
  max-width: 600px;
}

.img-black {
  filter: invert(100%);
  width: 2vw;
}

.w-2vw {
  width: 2vw;
}

.form-group label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}

.btn-row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
