.styled-drawer {
    position: absolute;
    height: 100%;
    width: 4vw; /* No cambiado */
    flex-shrink: 0;
    white-space: nowrap;
    overflow-x: hidden;
    transition: width 0.3s;
    z-index: 1300;
}

.styled-drawer .MuiDrawer-paper {
    width: 3vw; /* No cambiado */
    transition: width 0.3s;
    box-sizing: border-box;
    background-color: #3A608F;
    color: #fff;
    overflow-x: hidden;
}

.styled-drawer:hover {
    width: var(--drawer-width);
}

.styled-drawer:hover .MuiDrawer-paper {
    width: var(--drawer-width);
}

/* Media Queries */
@media (max-width: 768px) {
    .styled-drawer,
    .styled-drawer .MuiDrawer-paper {
        width: 10vw !important; /* Ajustado para ser más flexible */
    }

    .styled-drawer:hover,
    .styled-drawer:hover .MuiDrawer-paper {
        width: 40vw !important; /* Ancho ajustado para ser más ancho en dispositivos móviles */
    }

    .styled-title {
        padding: 1vh; /* Ajustado para ser más flexible */
    }

    .styled-title img {
        max-width: 8vw !important; /* Ajustado para ser más flexible */
    }

    .footerSidebar {
        padding: 1vh; /* Ajustado para ser más flexible */
        font-size: 1.5vh !important; /* Ajustado para ser más flexible */
    }

    .styled-list-item-text {
        font-size: 2.5vw !important; /* Ajustado para ser más flexible */
    }

    .styled-list-item-icon {
        font-size: 4vw !important; /* Ajustado para ser más flexible */
    }

    .MuiListItemText-root {
        padding: auto !important;
        margin: auto !important;
        font-size: small !important;
    }
}

@media (max-width: 400px) {
    .styled-drawer,
    .styled-drawer .MuiDrawer-paper {
        width: 12vw !important; /* Ajustado para ser más flexible */
    }

    .styled-drawer:hover,
    .styled-drawer:hover .MuiDrawer-paper {
        width: 45vw !important; /* Ancho ajustado para ser más ancho en dispositivos móviles */
    }

    .styled-title {
        padding: 1vh; /* Ajustado para ser más flexible */
    }

    .styled-title img {
        max-width: 10vw !important; /* Ajustado para ser más flexible */
    }

    .footerSidebar {
        padding: 1vh; /* Ajustado para ser más flexible */
        font-size: 2vh !important; /* Ajustado para ser más flexible */
    }

    .styled-list-item-text {
        font-size: 2.5vw !important; /* Ajustado para ser más flexible */
        margin-left: 0.5vw !important; /* Reducido para la versión móvil */
    }

    .styled-list-item-icon {
        font-size: 2.5vw !important; /* Ajustado para ser más flexible */
    }

    .styled-list-item {
        padding: 0.5vh !important; /* Reducido para la versión móvil */
    }

    .MuiListItem-root {
        padding: 0 !important;
        margin: 0 !important;
    }
}

/* Styled Title */
.styled-title {
    display: flex;
    justify-content: center;
    padding: 1vh; /* No cambiado */
}

.styled-title img {
    width: 100%;
    max-width: 3vw; /* No cambiado */
}

/* Styled List Items */
.styled-list-item {
    color: white;
    text-decoration: none !important;
    display: flex;
    align-items: center;
}

.styled-list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.styled-list-item-text {
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.2vw !important; /* No cambiado */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.styled-drawer:hover .styled-list-item-text {
    opacity: 1;
}

.styled-list-item-text .MuiTypography-root {
    color: white;
}

.styled-list-item-icon {
    font-size: 2vw !important; /* No cambiado */
}

/* Footer Sidebar */
.footerSidebar {
    margin-top: auto;
    padding: 1vh; /* No cambiado */
    text-align: center;
    color: #fff;
    font-size: 1.2vh; /* No cambiado */
}
